.ember-modal-dialog {
  z-index: 51;
  position: fixed;
}
.ember-modal-dialog.emd-in-place {
  position: static;
}

.ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center .ember-modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center .ember-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ember-modal-wrapper.emd-animatable .ember-modal-dialog {
  position: relative;
}

.ember-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.ember-modal-dialog {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px;
}

.ember-modal-overlay.translucent {
  background-color: rgba(128, 128, 128, 0.77);
}

@font-face {
  font-family: "Musket bold";
  src: url("/assets/Musket bold.otf");
}
@font-face {
  font-family: "Musket regular";
  src: url("/assets/Musket regular.otf");
}
@font-face {
  font-family: "Muli";
  src: url("/assets/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("/assets/Muli-Bold.ttf");
}
body {
  font-family: "Muli" !important;
  color: #182330;
}

.header {
  background-color: #182330;
  color: white;
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.nav-link {
  color: white !important;
}

a {
  color: #182330 !important;
  text-decoration-line: underline !important;
}

.navbar-brand {
  margin-right: 10px !important;
  font-family: "Musket bold";
  font-size: 25pt !important;
}

.welcome {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(#182330, #182330 97.5%, #f0f1f1 2.5%, #f0f1f1 2.5%, #f0f1f1 97.5%);
}

.looking-for {
  height: 525px;
  background-image: linear-gradient(#f0f1f1, #f0f1f1 97.5%, #ffffff 2.5%, #ffffff 2.5%, #ffffff 97.5%);
}

.looking-for-sub {
  width: 70%;
  margin: auto !important;
  padding-top: 20px;
}

.looking-for-right {
  text-align: right;
  padding-left: 20% !important;
  padding-bottom: 100px;
  padding-top: 100px;
  color: #568DFF;
  font-size: 14pt;
}

.component-padding {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.large-musket-text {
  font-family: "Musket bold";
  font-size: 30pt;
  color: white;
}

.large-musket-text-pink {
  font-family: "Musket bold";
  font-size: 30pt;
  color: #FFABB4;
}

.large-musket-text-red {
  font-family: "Musket bold";
  font-size: 30pt;
  color: #FF583E;
}

.large-musket-text-blue {
  font-family: "Musket bold";
  font-size: 30pt;
  color: #568DFF;
}

.large-musket-text-dark-blue {
  font-family: "Musket bold";
  font-size: 30pt;
  color: #182330;
}

.medium-musket-text-pink {
  font-family: "Musket bold";
  font-size: 25pt;
  color: #FFABB4;
}

.medium-musket-text-red {
  font-family: "Musket bold";
  font-size: 25pt;
  color: #FF583E;
}

.medium-regular-musket-text-pink {
  font-family: "Musket regular";
  font-size: 20pt;
  color: #FFABB4;
}

.medium-regular-musket-text-red {
  font-family: "Musket regular";
  font-size: 20pt;
  color: #FF583E;
}

.medium-musket-text-white {
  font-family: "Musket bold";
  font-size: 25pt;
  color: white;
}

.medium-musket-text-blue {
  font-family: "Musket bold";
  font-size: 15pt;
  color: #568DFF;
}

.large-musket-text-blue {
  font-family: "Musket bold";
  font-size: 30pt;
  color: #568DFF;
}

.large-text {
  color: #FF583E;
  font-family: "Muli-Bold";
}

.large-blue-text {
  color: #182330;
}

.medium-white-text {
  color: white;
  font-size: 14pt;
  line-height: 1.2;
}

.medium-text {
  color: #182330;
}

.medium-text-red {
  font-size: 20pt;
  color: #FF583E;
}

.medium-text-pink {
  font-size: 20pt;
  color: #FFABB4;
}

.small-text {
  color: #5E666D;
}

.small-text-pink {
  color: #FFABB4;
}

.small-text-red {
  color: #FF583E;
  font-size: 14pt;
}

.small-text-white {
  color: white;
  font-size: 14pt;
}

.extra-large-blue-text {
  color: #182330;
  font-size: 40pt;
  font-weight: 650;
}

.welcome-text {
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 100px;
  padding-bottom: 100px;
}

input {
  width: 90%;
  background-color: #F2F2F2;
  border: none;
  height: 50px;
  padding-left: 12px;
}

::placeholder {
  color: gray;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

.email-subscribe-box {
  background-color: white;
  width: 55%;
  height: 40px !important;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.subscribe-button {
  background-color: #FF583E;
  border: none;
  color: white;
  height: 40px;
  width: 110px;
  float: left;
  margin-left: 7px;
}

.register-button {
  background-color: #FF583E;
  border: none;
  color: white;
  height: 40px;
  width: 300px;
  margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.submit-button {
  background-color: #FF583E;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
}

.update-button {
  background-color: #182330;
  border: none;
  color: white;
  height: 50px;
  width: 200px;
}

.yes-button {
  background-color: #182330;
  margin: 5%;
  width: 40%;
  color: white;
  height: 50px;
  border: none;
  float: left;
}

.no-button {
  background-color: #FF583E;
  margin: 5%;
  width: 40%;
  color: white;
  height: 50px;
  border: none;
  float: left;
}

.button-div {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
  width: 90%;
}

.greeting {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;
}

.greeting-message {
  float: left;
}

.greeting-pic {
  margin-right: 20px;
  float: left;
}

.add-an-admin {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.add-mentorship-pairs {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
}

.upload-csv-button {
  background-color: #182330;
  border: none;
  color: white;
  height: 100px;
  width: 200px;
}

.footer {
  background-color: #182330;
  color: white;
}

.footer-sub {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.copyright-sub {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-bottom: 40px;
}

.dashboard-module {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.status {
  text-align: right;
}

.module-active-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  background-color: #FAEEEE;
}

.module-active {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  background-color: #F9F7F7;
}

.module-active-right-bar {
  border-right: 1px solid #182330;
  padding-right: 35px !important;
}

.approve-request-row {
  padding-left: 45px;
  width: 100%;
}

.module-inactive-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  border: 5px solid #FAEEEE;
  border-bottom: 2px solid #FAEEEE;
}

.module-inactive {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  border: 5px solid #FAEEEE;
  border-top: none;
}

.button-text {
  color: #EA9C9C;
  font-weight: 600;
  cursor: default;
  text-align: right;
}

.request-feedback-button {
  background-color: #FF583E;
  height: 50px;
  width: 90%;
  border: none;
  color: white;
  margin: auto;
}

.link-button {
  background-color: #FAE8E8;
  height: 40px;
  width: 50%;
  border: none;
}

.link-input {
  background-color: white;
  height: 40px;
  width: 95%;
  padding: 2.5%;
}

.profileHeader {
  background-color: #F7F2F3;
}

.text-area-my-profile {
  width: 100%;
  height: 150px !important;
}

.content-editable-location {
  border: none;
  height: 50px;
  line-height: 50px;
  padding-right: 7px;
  padding-left: 0 !important;
  font-size: 25pt;
  color: #FF7474 !important;
  background-color: #F2F2F2;
}

.content-not-editable-location {
  border: none;
  height: 50px;
  line-height: 50px;
  padding-right: 7px;
  padding-left: 0 !important;
  font-size: 25pt;
  color: #FF7474 !important;
}

.content-editable-role {
  border: none;
  height: 50px;
  line-height: 50px;
  padding-left: 7px;
  padding-right: 0 !important;
  font-size: 25pt;
  color: #FF7474 !important;
  background-color: #F2F2F2;
}

.content-not-editable-role {
  border: none;
  height: 50px;
  line-height: 50px;
  font-size: 25pt;
  color: #FF7474 !important;
}

.content-editable {
  background-color: #F2F2F2;
  border: none;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.content-not-editable {
  border: none;
  height: 50px;
  line-height: 50px;
}

.profile-info-header {
  width: 70%;
  margin: auto;
}

.profile-info {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  width: 80%;
  margin: auto;
}

.profile-pic-box {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.name-and-role-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.update-button-div {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
}

.at-role {
  font-size: 25pt;
  color: #FF7474 !important;
  max-width: 45px !important;
  height: 50px;
  line-height: 50px;
  text-align: center !important;
  margin-right: 15px;
  margin-left: 15px;
}

.dashboard-background {
  font-family: "Muli" !important;
  height: 600px;
  background-image: linear-gradient(#FAEEEE, #FAEEEE 32.5%, #ffffff 15%, #ffffff 85%, #ffffff 35%);
}

.match-card {
  border: 10px solid #FAEEEE;
  margin: 5px;
  padding: 20px;
  background-color: white;
}

.ember-modal-dialog {
  border-radius: 0;
  text-align: center;
  padding: 45px;
  color: #182330;
  width: 700px;
}

.modal-textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  background-color: #F0F1F1;
}

.cancel-button {
  border-radius: 50%;
  background-color: #FAEEEE;
  color: #182330;
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  line-height: 30px;
}

.makeathon {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.mentorship {
  background-color: #568DFF;
  color: white;
}

.mentorship-sub {
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.mentorship-text {
  padding-left: 15%;
}

.contact {
  background-color: #F0F1F1;
}

.contact-sub {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 70%;
  margin: auto;
}

.resources-section {
  padding: 20px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.nav-progress {
  display: table;
  overflow: hidden;
  margin: 0;
  width: 82.5%;
  margin: auto;
  height: 50px;
  margin-bottom: 40px;
  border: 1px solid #DDD6DB;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.nav-progress > div {
  position: relative;
  display: table-cell;
  padding: 14px 0;
  color: #182330;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.25em;
}
.nav-progress > div.complete {
  background-color: #faeeee;
  color: #182330;
}
.nav-progress > div.complete .arrow {
  border: 1px solid #DDD6DB !important;
  background: #faeeee !important;
}
.nav-progress > div.active {
  background-color: #ff583e;
  color: #FFF;
}
.nav-progress > div.active .arrow {
  border: none !important;
  background: #ff583e !important;
}

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.arrow-wrapper .arrow-cover {
  position: absolute;
  overflow: hidden;
  width: 24px;
  height: 50px;
}
.arrow-wrapper .arrow-cover .arrow {
  position: absolute;
  left: -34px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 1px solid #DDD6DB;
  background: transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.about-page {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.about-page-title {
  text-align: center;
  margin-bottom: 50px;
}

.about-statistics {
  background-color: #F0F1F1;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-statistics-sub {
  width: 70%;
  margin: auto !important;
}

.ways-involved {
  background-color: #FFABB4;
  margin-top: 50px;
}

.ways-involved-sub {
  width: 70%;
  margin: auto !important;
  padding-top: 50px;
}

.ember-basic-dropdown {
  position: relative;
}

.ember-basic-dropdown, .ember-basic-dropdown-content, .ember-basic-dropdown-content * {
  box-sizing: border-box;
}

.ember-basic-dropdown-content {
  position: absolute;
  width: auto;
  z-index: 1000;
  background-color: #FFF;
}

.ember-basic-dropdown-content--left {
  left: 0;
}

.ember-basic-dropdown-content--right {
  right: 0;
}

.ember-basic-dropdown-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ember-basic-dropdown-content-wormhole-origin {
  display: inline;
}

@media only screen and (max-width: 1048px) {
  .welcome-image {
    display: none;
  }
}
@media only screen and (max-width: 1186px) {
  .women-mug-image {
    display: none;
  }

  .looking-for-right {
    text-align: center;
    flex: 100% !important;
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 540px) {
  .looking-for {
    height: 800px;
  }
}
@media only screen and (max-width: 1280px) {
  .mentorship-text {
    padding-left: 0;
  }
}
@media only screen and (max-width: 1103px) {
  .mentorship-image {
    text-align: center;
  }

  .mentorship-text {
    padding-left: 0;
    text-align: center;
    padding-top: 50px;
  }
}